nav {
    position: absolute;
    top: 20px;
    right: 0;
    width: 100%;
    margin-right: 30px;
    line-height: 28px;

}

nav a {
    text-decoration: none;
    color: rgb(34, 34, 34)
}

nav .links a:hover {
    color: rgb(34, 34, 34);
    text-decoration: underline;
}


.signbutton {
    background-color: #4285f4;
    display: inline-block;
    color: #fff;
    border: 1px solid #4285f4;
    padding: 0 12px;
    font-weight: bold;
    line-height: 28px;
    border-radius: 2px;
    outline: none;
    cursor: default;
}

.signbutton:hover {
    cursor: default;
}

.appsicon {
    opacity: 0.55;
}

.icon {
    vertical-align: middle;
}

.links {
    margin-right: 30px;
}

li {
    display: inline;
    float: right;
    margin: 0 0 0 15px;
}

.logo {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 100%;
    margin-bottom: 20px;
}

.center {
    text-align: center;
    margin-top: 140px;
}

#main {
    font-size: 13px;
    font-family: arial,sans-serif;
    color: rgb(34, 34, 34)
}

#main input[type="submit"] {
    -webkit-border-radius: 2px;
    -webkit-user-select: none;
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 2px;
    color: #757575;
    cursor: pointer;
    font-weight: bold;
    margin: 11px 4px;
    min-width: 54px;
    padding: 0 16px;
    text-align: center;
    height: 36px;
    line-height: 27px;
;
}

#main input[type="submit"]:hover {
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    color: #222;
    border: 1px solid #c6c6c6;
}

#lang {
    font-size: small;
    margin-top: 10px;
    display: inline-block;
    line-height: 28px;
    color: #222;
}

.searchbarbox {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
    height: 44px;
    z-index:3;
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    margin: 0 auto;
    border-radius: 2px;
    width: 584px;
}

.searchbar {
    height: 34px;
    line-height: 34px;
    font: 16px arial, sans-serif;
    padding: 5px 8px 0px 16px;
    width: 520px;
    border: none;
}

.searchbar:focus {
    outline-width: 0;
}

.searchbarbox:hover {
    box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2), 0 0 0 1px rgba(0,0,0,0.08);
}

.searchbuttons {
    margin-top: 21px;
}

#voicesearch {
    width: 24px;
    height: 24px;
    padding: 10px 0;
}

#voicesearch:hover {
    cursor: pointer

}

#voicesearch {
    position: relative;
    display: inline-block;
    z-index: 1;
}

#tooltiptext {
    visibility: hidden;
    width: 120px;
    height: 20px;
    line-height: 20px;
    font-size: 12px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 5px 0;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 5;
  }
#voicesearch:hover #tooltiptext {
    visibility: visible;
}

#voicesearch #tooltiptext {
    top: -5px;
    right: 105%; 
    width: 120px;
    top: 100%;
    left: 50%; 
    margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
    margin-top: 6px;
}

#tooltiptext::after {
    content: " ";
    position: absolute;
    bottom: 100%; /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
  }